customer-item{
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    width: 100%;
    .header{
        height:30px;
        line-height: 30px;
        color: white;
        padding-left: 10px;

        .title{
            font-size: 1.2em;
        }

        .glyphicon-remove,
        .glyphicon-pencil{
            cursor: pointer;
            line-height: 28px;
            width: 28px;
            text-align: center;
        }
        .glyphicon-remove:hover,
        .glyphicon-pencil:hover
        {
            background-color: #3399CC;
        }
    }
    .header{
        background-color: #337ab7;
    }
    .header.edit{
        background-color: #5cb85c;
    }
    .details{
        padding: 7px;
        background-color: #F8F8F8;
    }
}
